html, body{
    margin: 0;
}
.header{
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image: url(https://scontent.fhan5-3.fna.fbcdn.net/v/t1.6435-9/s960x960/243968703_1609246302758434_6779249235323238058_n.jpg?_nc_cat=1&ccb=1-5&_nc_sid=825194&_nc_ohc=EbxKa7dXpe8AX82aLku&_nc_oc=AQl_kEPnRzpda9C3Ctnt-LsRctCCVGLCVy7jH2ZayLmt68aAtAPmcZsr2HyVbUloy44&_nc_ht=scontent.fhan5-3.fna&oh=9a08eea5129063dd5d9e38e00fb7adac&oe=6179E0F6);
    background-size: contain;
    background-repeat: no-repeat;
}